    </div> <!-- /main -->
    <footer>
      <div class="container">
        <small>
          <div id="copyright">&copy; RootsDev 2012</div>
          <div>Last updated <a href="<%- githubLink %>"><%- lastUpdated %></a></div>
        </small>
      </div>
    </footer>
    <!-- Javascript -- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/rootsdev.js"></script>
  </body>
</html>